spring.application.name=

spring.datasource.url=jdbc:postgresql://localhost:5432/TEN_DATABASE
spring.datasource.username=postgres
spring.datasource.password=MAT_KHAU_POSTGRES
spring.datasource.driver-class-name=org.postgresql.Driver

// Tự tạo bảng trên db
spring.jpa.hibernate.ddl-auto=update

// jwt
jwt.secret=your_jwt_secret

// verify email
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=YOUR_EMAIL@gmail.com
spring.mail.password=YOUR_APP_PASSWORD
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

// Google OAuth Client
spring.security.oauth2.client.registration.google.client-id=your_google_client_id
spring.security.oauth2.client.registration.google.client-secret=your_google_client_secret
spring.security.oauth2.client.registration.google.scope=openid,profile,email